    <img src="../assets/images/comida.jpg"> 
    <div class="jumbotron bg-transparent text-right">
      <div class="container">
        <h1 class="display-1 text-white font-weight-bold">Comidas del fin del mundo!</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus inventore amet consequuntur facere porro illum illo totam vel suscipit, perspiciatis mollitia voluptatum dignissimos earum? Magni nulla dignissimos nam adipisci quia!</p><br>
        <a class="btn btn-outline-info btn-lg mr-4" href="trabajos" role="button">trabajos</a>
        <a class="btn btn-info btn-lg" href="contacto" role="button">contacto</a>
      </div>
    </div>

